{% extends "tekno/index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
    <p class="gamingtitle text-center">
        ⚡THE BEST HARDWARE!⚡
    </p>
    <div class="rows justify-content-md-center">
        <div class="loco card col-md-2 text-center">
            <p class="titlegaming card-header">MONITORS</p>
            <div class="hola card-body">
            <h5 class="card-title">LET´S PLAY!</h5>
            <p class="card-subtitle text-muted">BECOME A PRO</p>
            </div>
            <a href="/tekno/monitores">
                <img class = "gamezone1" src="{% static 'imagenes/monitores.png' %}" width="200" height="200">
            </a>
            <div class="card-body">
            <p class="hola1 card-text text-center">The best hardware with the highest quality at the best PRICE.</p>
            </div>
            
        </div>
        <div class="loco card col-md-2 text-center">
            <p class="titlegaming card-header">PERIPHERALS</p>
            <div class="hola card-body">
            <h5 class="card-title">LET´S PLAY!</h5>
            <p class="card-subtitle text-muted">BECOME A PRO</p>
            </div>
            <a href="/tekno/perifericos">
                <img class = "gamezone1" src="{% static 'imagenes/perifericos.png' %}" width="200" height="200">
            </a>
            <div class="card-body">
            <p class="hola1 card-text text-center">The best peripherals for <strong>you</strong> to become the best!</p>
            </div>
        </div>
        <div class="loco card col-md-2 text-center">
            <p class="titlegaming card-header">GAMING PCS</p>
            <div class="hola card-body">
            <h5 class="card-title">LET´S PLAY!</h5>
            <p class="card-subtitle text-muted">BECOME A PRO</p>
            </div>
            <a href="/tekno/pc_gaming">
                <img class = "gamezone1" src="{% static 'imagenes/pc.png' %}" width="200" height="200">
            </a>
            <div class="card-body">
            <p class="hola1 card-text text-center">Already assembled PCs so you won´t worry about a thing.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}