{% extends "tekno/index.html" %}
{% load static %}
{% block content %}
<div class="container-fluid">
	<h1 class="gamingtitle">
		⚡THE COOLEST PERIPHERALS!⚡
	</h1>
    <fieldset>
        <form class="buscadorgame d-flex" method="get">
            <input class="buscador form-control form-control-lg" name="buscar" type="search" placeholder="Search your peripherals here!">
            <button class="buscador btn btn-secondary " type="submit">Search</button>
        </form>
    </fieldset>
	<p></p>  
    <div class="monitorrow row text-center">
		{% for producto in productos %}
		{% if producto.tipo == 'Periferico' %}		
		<div class="col-lg-4">
			<img class="monitores" style="border:5px solid #5cf0b2; padding:3px; margin:5px" src="{{producto.imagen.url}}" height="250" width="250">
			<div class="box-element product">
				<h4 class="nombremonitor"><strong>{{producto.nombre}}</strong></h4>
				<h6 class="nombremonitor">{{producto.descripcion}}</h6>
				{% if user.is_authenticated %}
				<button class="btn btn-outline-secondary add-btn" style="margin-top: 7px;">
					<a href="{% url 'carro:Add' producto.id_producto %}">Add to cart</a>
				</button>
				{% else %}
				<button class="btn btn-outline-secondary add-btn" style="margin-top: 7px;">
					<a href="/tekno/signin">Add to cart</a>
				</button>
				{% endif %}
				<h4 class="nombremonitor"><strong>{{producto.precio}}€</strong></h4>
				<h4 class="nombremonitor"><strong>Stock: {{producto.stock}} </strong></h4>
				<hr>
			</div>
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}