{% extends "tekno/index.html" %}
{% load static %}

{% block content %}
<main class="container p-4">
            <h1 class="tituloLogin display-3 text-center sm-4 ">
                LOG-IN <br>/</br>REGISTER
            </h1>
            <div class="card-body">
                <div class="col-md-10 offset-md-1 my-auto">
                    <div class="card">
                        <div class="card-header">
            
                        </div>
                        <div class="card-body">
    
                        </div>
                    </div>
    
                </div>
    
            </div>
        </main>
{% endblock %}